<div class="main-frame" flex>

    <h1 class="md-headline admin-table-title">Журнал</h1>
    <table class="table admin">
        <caption>
            <div class="filters-header" layout="row" layout-align="start center">
                <div ng-click="toggleFilters()" layout="row" layout-align="start center">
                    <md-icon>filter_list</md-icon>
                    <p class="md-body-2">Фільтри</p>
                </div>
                <div flex></div>
                <p class="md-body-2">Небезпечна зона!</p>
                <md-switch ng-model="isDeletionEnabled" aria-label="Deletion Switch" ng-change="onChange(isDeletionEnabled)" class="md-warn">
                    Видалення {{status}}
                </md-switch>
            </div>
            <div class="filters" ng-show="isExpanded">
                <div layout="row" layout-padding>
                    <md-input-container class="number-filter" flex>
                        <label>По Id</label>
                        <input type="text" ng-model="search.gradebookId">
                    </md-input-container>
                    <md-input-container class="text-filter" flex>
                        <label>По предмету</label>
                        <input type="text" ng-model="search.subject">
                    </md-input-container>
                    <md-input-container class="number-filter" flex>
                        <label>за роком</label>
                        <input type="text" ng-model="search.semester.academicYear">
                    </md-input-container>
                    <md-input-container class="text-filter" flex>
                        <label>за назвою семестру</label>
                        <input type="text" ng-model="search.semester.name">
                    </md-input-container>
                    <md-input-container class="number-filter" flex>
                        <label>за групою</label>
                        <input type="text" ng-model="search.group.number">
                    </md-input-container>
                    <md-input-container class="text-filter" flex>
                        <label>за факультетом</label>
                        <input type="text" ng-model="search.group.faculty.name">
                    </md-input-container>
                </div>
            </div>
        </caption>
        <thead>
            <tr class="header-primary admin">
                <th class="table-num-col">Id</th>
                <th>Предмет</th>
                <th>Семестр</th>
                <th>Група</th>
                <th>Факультет</th>
                <th colspan="2">Controls</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="gradebook in gradebooks | filter: search">
                <td class="table-num-col">{{gradebook.id}}</td>
                <td>{{gradebook.subject}}</td>
                <td>{{gradebook.semester.academicYear}} {{gradebook.semester.name}}</td>
                <td>{{gradebook.group.number}}</td>
                <td>{{gradebook.group.faculty.name}}</td>
                <td class="controls-col">
                    <md-button class="control" ng-click="showEditGradebookForm($event, gradebook)">
                        <md-icon>edit</md-icon>
                        <span>Редагувати</span>
                    </md-button>
                </td>
                <td class="controls-col">
                    <md-button class="control" ng-click="showDeleteGradebookDialog($event, gradebook)" ng-disabled="!isDeletionEnabled">
                        <md-icon>delete</md-icon>
                        <span>Видалити</span>
                    </md-button>
                </td>
            </tr>
            <tr>
                <td class="table-num-col"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2" class="controls-col">
                    <md-button class="control" ng-click="showAddGradebookForm($event)">
                        <md-icon>add_circle</md-icon>
                        <span>Додати</span>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-include src="'views/partitials/footer.html'"></ng-include>