<div class="main-frame" layout="column" layout-align="start center" flex>
    <!-- <div class="video-row">
        <div class="videoWrapper">
            <iframe src="https://www.youtube.com/embed/ZwzY1o_hB5Y" frameborder="0" allowfullscreen></iframe>
        </div>
    </div> -->
    <div class="main-background">
        <img src="images/Gradebook-Screencast-Slide-01.png" class="md-card-image" alt>
        <span class="login-image-title">powered by <b>GradeBook™</b></span>
    </div>
    <div class="links-row" layout="row" layout-align="center">
        <a href="https://github.com/mustailin/gradebook"><img height="36" width="36" src="images/GitHub-Mark-64px.png" alt></a>
        <a href="https://www.linkedin.com/in/mustailin/"><img height="36" width="42" src="images/In-Black-66px-R.png" alt></a>
    </div>
</div>

<ng-include src="'views/partitials/footer.html'"></ng-include>